
*{
    margin: 0;
}

.Home {
    .nabigisyon{
        align-items: center;
        padding: 12px 10%;
        background:rgb(243, 243, 243);
        
        a{
            text-decoration: none;
            font-family: 'Work Sans', sans-serif;
            font-size: var(--md_font);
        }

        ul{
            list-style: none;
            li{
                padding-left: 20px;
            }
        }

        .logoDesu{
            font-family: 'Dancing Script';
            p{font-size: var(--lg_font);}
        }
    }
}

.flexed-between{
    display: flex;
    justify-content: space-between;
}

.flexed-evenly{
    display: flex;
    justify-content: space-evenly;
}
//          * LISA *