@font-face {
    font-family: 'DDC Hardware Condensed';
    src: url('DDCHardware-Condensed.eot');
    src: local('DDC Hardware Condensed'), local('DDCHardware-Condensed'),
        url('DDCHardware-Condensed.eot?#iefix') format('embedded-opentype'),
        url('DDCHardware-Condensed.woff2') format('woff2'),
        url('DDCHardware-Condensed.woff') format('woff'),
        url('DDCHardware-Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DDC Hardware Compressed';
    src: url('DDCHardware-Compressed.eot');
    src: local('DDC Hardware Compressed'), local('DDCHardware-Compressed'),
        url('DDCHardware-Compressed.eot?#iefix') format('embedded-opentype'),
        url('DDCHardware-Compressed.woff2') format('woff2'),
        url('DDCHardware-Compressed.woff') format('woff'),
        url('DDCHardware-Compressed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DDC Hardware';
    src: url('DDCHardware-Regular.eot');
    src: local('DDC Hardware Regular'), local('DDCHardware-Regular'),
        url('DDCHardware-Regular.eot?#iefix') format('embedded-opentype'),
        url('DDCHardware-Regular.woff2') format('woff2'),
        url('DDCHardware-Regular.woff') format('woff'),
        url('DDCHardware-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

