@import "../../../Assets/Styles/_Fonts.scss";
@import "../../../Assets/Styles/_ScreenSizes.scss";
@import "../../../Assets/Styles/_Classes.scss";


.Navlight {
    align-items: center;
    padding: 12px 8%;
    background: #f6f6f6;
    
    .circle-nav{
        top: 10%;
        position: absolute;
        width: 50%;
        right: 0%;
        height: 1px;
        background-color: white;
        &:after{
            content: "";
            position: absolute;
            width: 20px;
            height:20px;
            top: -10px;
            left: -20px;
            border: 2px solid white;
            border-radius: 100px;
            box-sizing: border-box;
        }
    }
    a {
        text-decoration: none;
        font-family: "Work Sans", sans-serif;
        font-size: $md_font;
        font-weight: 600;
        color: rgb(36, 36, 36);

        padding: 13px 25px;
        
        span {
            @media only screen and (max-width: $md_w) {
                display: none;
            }

            @media only screen and (max-width: $sm_w) {
                display: none;
            }
        }

        // &:hover {
        //     background-color: rgb(143, 143, 143);
        //     color: rgb(231, 231, 231);
        //     transition: 0.2s ease-in-out;
        // }
    }

    li {
        // background-color: yellowgreen;
        .nav_ico {
            max-width: $nav_ico_sm;
            max-height:$nav_ico_sm;
            padding-right:0.5vw;
            @media only screen and (max-width: $md_w) {
                max-width: $nav_ico_md;
                max-height:$nav_ico_md;
            }
        }

        align-items: center;
        &:hover{
           border-left: 2px solid rgb(53, 53, 53);
        }
    }
   
    .active{
        border-left: 2px solid white;
    }

    
    ul {
        list-style: none;
        @media only screen and (max-width: $sm_w) {
            padding-left: 0;
        }
        
    }

    
    .logoDesu {
        font-family: "Dancing Script";
        filter: drop-shadow(0px 4px 4px rgba(136, 136, 136, 0.25));
        border-radius: 29px;
        background-color:#4c0b58 ;
        // p {
        //     font-size: $lg_font;
        // }
        img{
            width: 1.2em;
        }
        @media only screen and (max-width: $sm_w) {
            display: none;
        }
    }
}
