@import "../../Assets/Styles/_Colors.scss";

.al-center{
    text-align: center;
}

.faded{
    @extend .txt-c-188;
}

/* start usable */

.flexed{
    display:flex;
}

.flexed-evenly {
    display: flex;
    justify-content: space-evenly;
}

.flexed-between {
    display: flex;
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
}

.flexed-col{
    flex-direction: column;
}

/* end usable */

/* PADDING */

.p-5p{
    padding:5px;
}

.p-10p{
    padding:10px;
}

.p-1{
    padding: 1em;
}

.p-2{
    padding: 2em;
}

.p-3{
    padding: 3em;
}

.p-lg{
    padding: 5em;
}

.p-x-1{
    padding-left: 1em;
    padding-right: 1em;
}

.p-x-2{
    padding-left: 2em;
    padding-right: 2em;
}

.p-x-3{
    padding-left: 3em;
    padding-right: 3em;
}

.p-x-lg{
    padding-left: 3em;
    padding-left: 3em;
}

.p-y-1{
    padding-top: 1em;
    padding-bottom: 1em;
}

.p-y-2{
    padding-top: 2em;
    padding-bottom: 2em;
}

.p-y-3{
    padding-top: 3em;
    padding-bottom: 3em;
}

.pad-y-1{
    padding-top: 1em;
    padding-bottom: 1em;
}

.pad-y-2{
    padding-top: 2em;
    padding-bottom: 2em;
}

.pad-y-3{
    padding-top: 3em;
    padding-bottom: 3em;
}

.pad-y-4{
    padding-top: 4em;
    padding-bottom: 4em;
}

.pad-y-5{
    padding-top: 5em;
    padding-bottom: 5em;
}

.pad-y-6{
    padding-top: 6em;
    padding-bottom: 6em;
}

.pad-y-7{
    padding-top: 7em;
    padding-bottom: 7em;
}

.pad-y-8{
    padding-top: 8em;
    padding-bottom: 8em;
}

.pad-y-9{
    padding-top: 9em;
    padding-bottom: 9em;
}

.pad-x-1{
    padding-left: 1em;
    padding-right: 1em;
}

.pad-x-2{
    padding-left: 2em;
    padding-right: 2em;
}

.pad-x-3{
    padding-left: 3em;
    padding-right: 3em;
}

.pad-x-4{
    padding-left: 4em;
    padding-right: 4em;
}

.pad-x-5{
    padding-left: 5em;
    padding-right: 5em;
}

.pad-x-6{
    padding-left: 6em;
    padding-right: 6em;
}

.pad-x-7{
    padding-left: 7em;
    padding-right: 7em;
}

.pad-x-8{
    padding-left: 8em;
    padding-right: 8em;
}

.pad-x-9{
    padding-left: 9em;
    padding-right: 9em;
}

.pad-l-1{
    padding-left: 1em;
}

.pad-l-2{
    padding-left: 2em;
}

.pad-l-3{
    padding-left: 3em;
}

.pad-l-4{
    padding-left: 4em;
}

.pad-l-5{
    padding-left: 5em;
}

.pad-l-6{
    padding-left: 6em;
}

.pad-l-7{
    padding-left: 7em;
}

.pad-l-8{
    padding-left: 8em;
}

.pad-l-9{
    padding-left: 9em;
}

.pad-r-1{
    padding-right: 1em;
}

.pad-r-2{
    padding-right: 2em;
}

.pad-r-3{
    padding-right: 3em;
}

.pad-r-4{
    padding-right: 4em;
}

.pad-r-5{
    padding-right: 5em;
}

.pad-r-6{
    padding-right: 6em;
}

.pad-r-7{
    padding-right: 7em;
}

.pad-r-8{
    padding-right: 8em;
}

.pad-r-9{
    padding-right: 9em;
}

.pad-t-1{
    padding-top: 1em;
}

.pad-t-2{
    padding-top: 2em;
}

.pad-t-3{
    padding-top: 3em;
}

.pad-t-4{
    padding-top: 4em;
}

.pad-t-5{
    padding-top: 5em;
}

.pad-t-6{
    padding-top: 6em;
}

.pad-t-7{
    padding-top: 7em;
}

.pad-t-8{
    padding-top: 8em;
}

.pad-t-9{
    padding-top: 9em;
}

.pad-b-1{
    padding-bottom: 1em;
}

.pad-b-2{
    padding-bottom: 2em;
}

.pad-b-3{
    padding-bottom: 3em;
}

.pad-b-4{
    padding-bottom: 4em;
}

.pad-b-5{
    padding-bottom: 5em;
}

.pad-b-6{
    padding-bottom: 6em;
}

.pad-b-7{
    padding-bottom: 7em;
}

.pad-b-8{
    padding-bottom: 8em;
}

.pad-b-9{
    padding-bottom: 9em;
}
/* PADDING END */


/* MARGIN */

.mar-1{
    margin: 1em
}
.mar-2{
    margin: 2em
}
.mar-3{
    margin: 3em
}
.mar-4{
    margin:4em
}
.mar-5{
    margin:5em
}
.mar-6{
    margin:6em
}
.mar-7{
    margin:7em
}
.mar-8{
    margin:8em
}
.mar-9{
    margin:9em
}
.mar-10{
    margin:10em
}
.mar-11{
    margin:11em
}
.mar-12{
    margin:12em
}
.mar-13{
    margin:13em
}
.mar-x-1{
    margin-left: 1em;
    margin-right: 1em;
}
.mar-x-2{
    margin-left: 2em;
    margin-right: 2em;
}
.mar-x-3{
    margin-left: 3em;
    margin-right: 3em;
}
.mar-x-4{
    margin-left: 4em;
    margin-right: 4em;
}
.mar-x-5{
    margin-left: 5em;
    margin-right: 5em;
}
.mar-x-6{
    margin-left: 6em;
    margin-right: 6em;
}
.mar-x-7{
    margin-left: 7em;
    margin-right: 7em;
}
.mar-x-8{
    margin-left: 8em;
    margin-right: 8em;
}
.mar-x-9{
    margin-left: 9em;
    margin-right: 9em;
}

.mar-t-0{
    margin-top: 0px;
}

.mar-y-1{
    margin-top: 1em;
    margin-bottom: 1em;
}
.mar-y-2{
    margin-top: 2em;
    margin-bottom: 2em;
}
.mar-y-3{
    margin-top: 3em;
    margin-bottom: 3em;
}
.mar-y-4{
    margin-top: 4em;
    margin-bottom: 4em;
}
.mar-y-5{
    margin-top: 5em;
    margin-bottom: 5em;
}
.mar-y-6{
    margin-top: 6em;
    margin-bottom: 6em;
}
.mar-y-7{
    margin-top: 7em;
    margin-bottom: 7em;
}
.mar-y-8{
    margin-top: 8em;
    margin-bottom: 8em;
}
.mar-y-9{
    margin-top: 9em;
    margin-bottom: 9em;
}
.mar-y-10{
    margin-top: 10em;
    margin-bottom: 10em;
}


.mar-t-1{
    margin-top: 1em;
}
.mar-t-2{
    margin-top: 2em;
}
.mar-t-3{
    margin-top: 3em;
}
.mar-t-4{
    margin-top: 4em;
}
.mar-t-5{
    margin-top: 5em;
}
.mar-t-6{
    margin-top: 6em;
}
.mar-t-7{
    margin-top: 7em;
}
.mar-t-8{
    margin-top: 8em;
}
.mar-t-9{
    margin-top: 9em;
}
.mar-t-10{
    margin-top: 10em;
}

.mar-t-10{
    margin-top: 10px  ;
}

.mar-t-11{
    margin-top: 11px  ;
}

.mar-t-12{
    margin-top: 12px  ;
}

.mar-t-13{
    margin-top: 13px  ;
}

.mar-t-14{
    margin-top: 14px  ;
}

.mar-t-15{
    margin-top: 15px  ;
}

.mar-t-16{
    margin-top: 16px  ;
}

.mar-t-17{
    margin-top: 17px  ;
}

.mar-t-18{
    margin-top: 18px  ;
}

.mar-t-19{
    margin-top: 19px  ;
}

.mar-t-20{
    margin-top: 20px  ;
}

.mar-t-21{
    margin-top: 21px  ;
}

.mar-t-22{
    margin-top: 22px  ;
}

.mar-t-23{
    margin-top: 23px  ;
}

.mar-t-24{
    margin-top: 24px  ;
}

.mar-t-25{
    margin-top: 25px  ;
}

.mar-t-26{
    margin-top: 26px  ;
}

.mar-t-27{
    margin-top: 27px  ;
}

.mar-t-28{
    margin-top: 28px  ;
}

.mar-t-29{
    margin-top: 29px  ;
}

.mar-t-30{
    margin-top: 30px  ;
}

.mar-t-31{
    margin-top: 31px  ;
}

.mar-t-32{
    margin-top: 32px  ;
}

.mar-t-33{
    margin-top: 33px  ;
}

.mar-t-34{
    margin-top: 34px  ;
}

.mar-t-35{
    margin-top: 35px  ;
}

.mar-t-36{
    margin-top: 36px  ;
}

.mar-t-37{
    margin-top: 37px  ;
}

.mar-t-38{
    margin-top: 38px  ;
}

.mar-t-39{
    margin-top: 39px  ;
}

.mar-t-40{
    margin-top: 40px  ;
}

.mar-t-41{
    margin-top: 41px  ;
}

.mar-t-42{
    margin-top: 42px  ;
}

.mar-t-43{
    margin-top: 43px  ;
}

.mar-t-44{
    margin-top: 44px  ;
}

.mar-t-45{
    margin-top: 45px  ;
}

.mar-t-46{
    margin-top: 46px  ;
}

.mar-t-47{
    margin-top: 47px  ;
}

.mar-t-48{
    margin-top: 48px  ;
}

.mar-t-49{
    margin-top: 49px  ;
}

.mar-t-50{
    margin-top: 50px  ;
}

.mar-t-51{
    margin-top: 51px  ;
}

.mar-t-52{
    margin-top: 52px  ;
}

.mar-t-53{
    margin-top: 53px  ;
}

.mar-t-54{
    margin-top: 54px  ;
}

.mar-t-55{
    margin-top: 55px  ;
}

.mar-t-56{
    margin-top: 56px  ;
}

.mar-t-57{
    margin-top: 57px  ;
}

.mar-t-58{
    margin-top: 58px  ;
}

.mar-t-59{
    margin-top: 59px  ;
}

.mar-t-60{
    margin-top: 60px  ;
}

.mar-t-61{
    margin-top: 61px  ;
}

.mar-t-62{
    margin-top: 62px  ;
}

.mar-t-63{
    margin-top: 63px  ;
}

.mar-t-64{
    margin-top: 64px  ;
}

.mar-t-65{
    margin-top: 65px  ;
}

.mar-t-66{
    margin-top: 66px  ;
}

.mar-t-67{
    margin-top: 67px  ;
}

.mar-t-68{
    margin-top: 68px  ;
}

.mar-t-69{
    margin-top: 69px  ;
}

.mar-t-70{
    margin-top: 70px  ;
}

.mar-t-71{
    margin-top: 71px  ;
}

.mar-t-72{
    margin-top: 72px  ;
}

.mar-t-73{
    margin-top: 73px  ;
}

.mar-t-74{
    margin-top: 74px  ;
}

.mar-t-75{
    margin-top: 75px  ;
}

.mar-t-76{
    margin-top: 76px  ;
}

.mar-t-77{
    margin-top: 77px  ;
}

.mar-t-78{
    margin-top: 78px  ;
}

.mar-t-79{
    margin-top: 79px  ;
}

.mar-t-10{
    margin-top: 10px  ;
}

.mar-t-11{
    margin-top: 11px  ;
}

.mar-t-12{
    margin-top: 12px  ;
}

.mar-t-13{
    margin-top: 13px  ;
}

.mar-t-14{
    margin-top: 14px  ;
}

.mar-t-15{
    margin-top: 15px  ;
}

.mar-t-16{
    margin-top: 16px  ;
}

.mar-t-17{
    margin-top: 17px  ;
}

.mar-t-18{
    margin-top: 18px  ;
}

.mar-t-19{
    margin-top: 19px  ;
}

.mar-t-20{
    margin-top: 20px  ;
}

.mar-t-21{
    margin-top: 21px  ;
}

.mar-t-22{
    margin-top: 22px  ;
}

.mar-t-23{
    margin-top: 23px  ;
}

.mar-t-24{
    margin-top: 24px  ;
}

.mar-t-25{
    margin-top: 25px  ;
}

.mar-t-26{
    margin-top: 26px  ;
}

.mar-t-27{
    margin-top: 27px  ;
}

.mar-t-28{
    margin-top: 28px  ;
}

.mar-t-29{
    margin-top: 29px  ;
}

.mar-t-30{
    margin-top: 30px  ;
}

.mar-t-31{
    margin-top: 31px  ;
}

.mar-t-32{
    margin-top: 32px  ;
}

.mar-t-33{
    margin-top: 33px  ;
}

.mar-t-34{
    margin-top: 34px  ;
}

.mar-t-35{
    margin-top: 35px  ;
}

.mar-t-36{
    margin-top: 36px  ;
}

.mar-t-37{
    margin-top: 37px  ;
}

.mar-t-38{
    margin-top: 38px  ;
}

.mar-t-39{
    margin-top: 39px  ;
}

.mar-t-40{
    margin-top: 40px  ;
}

.mar-t-41{
    margin-top: 41px  ;
}

.mar-t-42{
    margin-top: 42px  ;
}

.mar-t-43{
    margin-top: 43px  ;
}

.mar-t-44{
    margin-top: 44px  ;
}

.mar-t-45{
    margin-top: 45px  ;
}

.mar-t-46{
    margin-top: 46px  ;
}

.mar-t-47{
    margin-top: 47px  ;
}

.mar-t-48{
    margin-top: 48px  ;
}

.mar-t-49{
    margin-top: 49px  ;
}

.mar-t-50{
    margin-top: 50px  ;
}

.mar-t-51{
    margin-top: 51px  ;
}

.mar-t-52{
    margin-top: 52px  ;
}

.mar-t-53{
    margin-top: 53px  ;
}

.mar-t-54{
    margin-top: 54px  ;
}

.mar-t-55{
    margin-top: 55px  ;
}

.mar-t-56{
    margin-top: 56px  ;
}

.mar-t-57{
    margin-top: 57px  ;
}

.mar-t-58{
    margin-top: 58px  ;
}

.mar-t-59{
    margin-top: 59px  ;
}

.mar-t-60{
    margin-top: 60px  ;
}

.mar-t-61{
    margin-top: 61px  ;
}

.mar-t-62{
    margin-top: 62px  ;
}

.mar-t-63{
    margin-top: 63px  ;
}

.mar-t-64{
    margin-top: 64px  ;
}

.mar-t-65{
    margin-top: 65px  ;
}

.mar-t-66{
    margin-top: 66px  ;
}

.mar-t-67{
    margin-top: 67px  ;
}

.mar-t-68{
    margin-top: 68px  ;
}

.mar-t-69{
    margin-top: 69px  ;
}

.mar-t-70{
    margin-top: 70px  ;
}

.mar-t-71{
    margin-top: 71px  ;
}

.mar-t-72{
    margin-top: 72px  ;
}

.mar-t-73{
    margin-top: 73px  ;
}

.mar-t-74{
    margin-top: 74px  ;
}

.mar-t-75{
    margin-top: 75px  ;
}

.mar-t-76{
    margin-top: 76px  ;
}

.mar-t-77{
    margin-top: 77px  ;
}

.mar-t-78{
    margin-top: 78px  ;
}

.mar-t-79{
    margin-top: 79px  ;
}

.mar-t-em-1{
    margin-top: 1em  ;
}

.mar-t-em-2{
    margin-top: 2em  ;
}

.mar-t-em-3{
    margin-top: 3em  ;
}

.mar-t-em-4{
    margin-top: 4em  ;
}

.mar-t-em-5{
    margin-top: 5em  ;
}

.mar-t-em-6{
    margin-top: 6em  ;
}

.mar-t-em-7{
    margin-top: 7em  ;
}

.mar-t-em-8{
    margin-top: 8em  ;
}

.mar-t-em-9{
    margin-top: 9em  ;
}

.mar-t-10{
    margin-top: 10px  ;
}

.mar-t-11{
    margin-top: 11px  ;
}

.mar-t-12{
    margin-top: 12px  ;
}

.mar-t-13{
    margin-top: 13px  ;
}

.mar-t-14{
    margin-top: 14px  ;
}

.mar-t-15{
    margin-top: 15px  ;
}

.mar-t-16{
    margin-top: 16px  ;
}

.mar-t-17{
    margin-top: 17px  ;
}

.mar-t-18{
    margin-top: 18px  ;
}

.mar-t-19{
    margin-top: 19px  ;
}

.mar-t-20{
    margin-top: 20px  ;
}

.mar-t-21{
    margin-top: 21px  ;
}

.mar-t-22{
    margin-top: 22px  ;
}

.mar-t-23{
    margin-top: 23px  ;
}

.mar-t-24{
    margin-top: 24px  ;
}

.mar-t-25{
    margin-top: 25px  ;
}

.mar-t-26{
    margin-top: 26px  ;
}

.mar-t-27{
    margin-top: 27px  ;
}

.mar-t-28{
    margin-top: 28px  ;
}

.mar-t-29{
    margin-top: 29px  ;
}

.mar-t-30{
    margin-top: 30px  ;
}

.mar-t-31{
    margin-top: 31px  ;
}

.mar-t-32{
    margin-top: 32px  ;
}

.mar-t-33{
    margin-top: 33px  ;
}

.mar-t-34{
    margin-top: 34px  ;
}

.mar-t-35{
    margin-top: 35px  ;
}

.mar-t-36{
    margin-top: 36px  ;
}

.mar-t-37{
    margin-top: 37px  ;
}

.mar-t-38{
    margin-top: 38px  ;
}

.mar-t-39{
    margin-top: 39px  ;
}

.mar-t-40{
    margin-top: 40px  ;
}

.mar-t-41{
    margin-top: 41px  ;
}

.mar-t-42{
    margin-top: 42px  ;
}

.mar-t-43{
    margin-top: 43px  ;
}

.mar-t-44{
    margin-top: 44px  ;
}

.mar-t-45{
    margin-top: 45px  ;
}

.mar-t-46{
    margin-top: 46px  ;
}

.mar-t-47{
    margin-top: 47px  ;
}

.mar-t-48{
    margin-top: 48px  ;
}

.mar-t-49{
    margin-top: 49px  ;
}

.mar-t-50{
    margin-top: 50px  ;
}

.mar-t-51{
    margin-top: 51px  ;
}

.mar-t-52{
    margin-top: 52px  ;
}

.mar-t-53{
    margin-top: 53px  ;
}

.mar-t-54{
    margin-top: 54px  ;
}

.mar-t-55{
    margin-top: 55px  ;
}

.mar-t-56{
    margin-top: 56px  ;
}

.mar-t-57{
    margin-top: 57px  ;
}

.mar-t-58{
    margin-top: 58px  ;
}

.mar-t-59{
    margin-top: 59px  ;
}

.mar-t-60{
    margin-top: 60px  ;
}

.mar-t-61{
    margin-top: 61px  ;
}

.mar-t-62{
    margin-top: 62px  ;
}

.mar-t-63{
    margin-top: 63px  ;
}

.mar-t-64{
    margin-top: 64px  ;
}

.mar-t-65{
    margin-top: 65px  ;
}

.mar-t-66{
    margin-top: 66px  ;
}

.mar-t-67{
    margin-top: 67px  ;
}

.mar-t-68{
    margin-top: 68px  ;
}

.mar-t-69{
    margin-top: 69px  ;
}

.mar-t-70{
    margin-top: 70px  ;
}

.mar-t-71{
    margin-top: 71px  ;
}

.mar-t-72{
    margin-top: 72px  ;
}

.mar-t-73{
    margin-top: 73px  ;
}

.mar-t-74{
    margin-top: 74px  ;
}

.mar-t-75{
    margin-top: 75px  ;
}

.mar-t-76{
    margin-top: 76px  ;
}

.mar-t-77{
    margin-top: 77px  ;
}

.mar-t-78{
    margin-top: 78px  ;
}

.mar-t-79{
    margin-top: 79px  ;
}

.mar-t-em-1{
    margin-top: 1em  ;
}

.mar-t-em-2{
    margin-top: 2em  ;
}

.mar-t-em-3{
    margin-top: 3em  ;
}

.mar-t-em-4{
    margin-top: 4em  ;
}

.mar-t-em-5{
    margin-top: 5em  ;
}

.mar-t-em-6{
    margin-top: 6em  ;
}

.mar-t-em-7{
    margin-top: 7em  ;
}

.mar-t-em-8{
    margin-top: 8em  ;
}

.mar-t-em-9{
    margin-top: 9em  ;
}

.mar-t-em-9{
    margin-top: 9em  ;
}

.mar-t-em-10{
    margin-top: 10em  ;
}

.mar-t-em-11{
    margin-top: 11em  ;
}

.mar-t-em-12{
    margin-top: 12em  ;
}

.mar-t-em-13{
    margin-top: 13em  ;
}

.mar-t-em-14{
    margin-top: 14em  ;
}

.mar-t-em-15{
    margin-top: 15em  ;
}

.mar-t-em-16{
    margin-top: 16em  ;
}

.mar-t-em-17{
    margin-top: 17em  ;
}

.mar-t-em-18{
    margin-top: 18em  ;
}

.mar-t-em-19{
    margin-top: 19em  ;
}

.mar-t-em-20{
    margin-top: 20em  ;
}

.mar-t-em-21{
    margin-top: 21em  ;
}

.mar-t-em-22{
    margin-top: 22em  ;
}

.mar-t-em-23{
    margin-top: 23em  ;
}

.mar-t-em-24{
    margin-top: 24em  ;
}

.mar-b-em-1{
    margin-bottom: 1em  ;
}

.mar-b-em-2{
    margin-bottom: 2em  ;
}

.mar-b-em-3{
    margin-bottom: 3em  ;
}

.mar-b-em-4{
    margin-bottom: 4em  ;
}

.mar-b-em-5{
    margin-bottom: 5em  ;
}

.mar-b-em-6{
    margin-bottom: 6em  ;
}

.mar-b-em-7{
    margin-bottom: 7em  ;
}

.mar-b-em-8{
    margin-bottom: 8em  ;
}

.mar-b-em-9{
    margin-bottom: 9em  ;
}

.mar-b-em-10{
    margin-bottom: 10em  ;
}

.mar-b-em-11{
    margin-bottom: 11em  ;
}

.mar-b-em-12{
    margin-bottom: 12em  ;
}

.mar-b-em-13{
    margin-bottom: 13em  ;
}

.mar-b-em-14{
    margin-bottom: 14em  ;
}

.mar-b-em-15{
    margin-bottom: 15em  ;
}

.mar-b-em-16{
    margin-bottom: 16em  ;
}

.mar-b-em-17{
    margin-bottom: 17em  ;
}

.mar-b-em-18{
    margin-bottom: 18em  ;
}

.mar-b-em-19{
    margin-bottom: 19em  ;
}

.mar-b-0{
    margin-bottom: 0px  ;
}

.mar-b-1{
    margin-bottom: 1px  ;
}

.mar-b-2{
    margin-bottom: 2px  ;
}

.mar-b-3{
    margin-bottom: 3px  ;
}

.mar-b-4{
    margin-bottom: 4px  ;
}

.mar-b-5{
    margin-bottom: 5px  ;
}

.mar-b-6{
    margin-bottom: 6px  ;
}

.mar-b-7{
    margin-bottom: 7px  ;
}

.mar-b-8{
    margin-bottom: 8px  ;
}

.mar-b-9{
    margin-bottom: 9px  ;
}

.mar-b-10{
    margin-bottom: 10px  ;
}

.mar-b-11{
    margin-bottom: 11px  ;
}

.mar-b-12{
    margin-bottom: 12px  ;
}

.mar-b-13{
    margin-bottom: 13px  ;
}

.mar-b-14{
    margin-bottom: 14px  ;
}

.mar-b-15{
    margin-bottom: 15px  ;
}

.mar-b-16{
    margin-bottom: 16px  ;
}

.mar-b-17{
    margin-bottom: 17px  ;
}

.mar-b-18{
    margin-bottom: 18px  ;
}

.mar-b-19{
    margin-bottom: 19px  ;
}

.mar-b-20{
    margin-bottom: 20px  ;
}

.mar-b-21{
    margin-bottom: 21px  ;
}

.mar-b-22{
    margin-bottom: 22px  ;
}

.mar-b-23{
    margin-bottom: 23px  ;
}

.mar-b-24{
    margin-bottom: 24px  ;
}

.mar-b-25{
    margin-bottom: 25px  ;
}

.mar-b-26{
    margin-bottom: 26px  ;
}

.mar-b-27{
    margin-bottom: 27px  ;
}

.mar-b-28{
    margin-bottom: 28px  ;
}

.mar-b-29{
    margin-bottom: 29px  ;
}

.mar-b-30{
    margin-bottom: 30px  ;
}

.mar-b-31{
    margin-bottom: 31px  ;
}

.mar-b-32{
    margin-bottom: 32px  ;
}

.mar-b-33{
    margin-bottom: 33px  ;
}

.mar-b-34{
    margin-bottom: 34px  ;
}

.mar-b-35{
    margin-bottom: 35px  ;
}

.mar-b-36{
    margin-bottom: 36px  ;
}

.mar-b-37{
    margin-bottom: 37px  ;
}

.mar-b-38{
    margin-bottom: 38px  ;
}

.mar-b-39{
    margin-bottom: 39px  ;
}

.mar-b-40{
    margin-bottom: 40px  ;
}

.mar-b-41{
    margin-bottom: 41px  ;
}

.mar-b-42{
    margin-bottom: 42px  ;
}

.mar-b-43{
    margin-bottom: 43px  ;
}

.mar-b-44{
    margin-bottom: 44px  ;
}

.mar-b-45{
    margin-bottom: 45px  ;
}

.mar-b-46{
    margin-bottom: 46px  ;
}

.mar-b-47{
    margin-bottom: 47px  ;
}

.mar-b-48{
    margin-bottom: 48px  ;
}

.mar-b-49{
    margin-bottom: 49px  ;
}

.mar-b-50{
    margin-bottom: 50px  ;
}

.mar-b-51{
    margin-bottom: 51px  ;
}

.mar-b-52{
    margin-bottom: 52px  ;
}

.mar-b-53{
    margin-bottom: 53px  ;
}

.mar-b-54{
    margin-bottom: 54px  ;
}

.mar-b-55{
    margin-bottom: 55px  ;
}

.mar-b-56{
    margin-bottom: 56px  ;
}

.mar-b-57{
    margin-bottom: 57px  ;
}

.mar-b-58{
    margin-bottom: 58px  ;
}

.mar-b-59{
    margin-bottom: 59px  ;
}

.mar-b-60{
    margin-bottom: 60px  ;
}

.mar-b-61{
    margin-bottom: 61px  ;
}

.mar-b-62{
    margin-bottom: 62px  ;
}

.mar-b-63{
    margin-bottom: 63px  ;
}

.mar-b-64{
    margin-bottom: 64px  ;
}

.mar-b-65{
    margin-bottom: 65px  ;
}

.mar-b-66{
    margin-bottom: 66px  ;
}

.mar-b-67{
    margin-bottom: 67px  ;
}

.mar-b-68{
    margin-bottom: 68px  ;
}

.mar-b-69{
    margin-bottom: 69px  ;
}

.mar-b-70{
    margin-bottom: 70px  ;
}

.mar-b-71{
    margin-bottom: 71px  ;
}

.mar-b-72{
    margin-bottom: 72px  ;
}

.mar-b-73{
    margin-bottom: 73px  ;
}

.mar-b-74{
    margin-bottom: 74px  ;
}

.mar-b-75{
    margin-bottom: 75px  ;
}

.mar-b-76{
    margin-bottom: 76px  ;
}

.mar-b-77{
    margin-bottom: 77px  ;
}

.mar-b-78{
    margin-bottom: 78px  ;
}

.mar-b-79{
    margin-bottom: 79px  ;
}

.mar-b-80{
    margin-bottom: 80px  ;
}

.mar-b-81{
    margin-bottom: 81px  ;
}

.mar-b-82{
    margin-bottom: 82px  ;
}

.mar-b-83{
    margin-bottom: 83px  ;
}

.mar-b-84{
    margin-bottom: 84px  ;
}

.mar-b-85{
    margin-bottom: 85px  ;
}

.mar-b-86{
    margin-bottom: 86px  ;
}

.mar-b-87{
    margin-bottom: 87px  ;
}

.mar-b-88{
    margin-bottom: 88px  ;
}

.mar-b-89{
    margin-bottom: 89px  ;
}

.mar-b-90{
    margin-bottom: 90px  ;
}

.mar-b-91{
    margin-bottom: 91px  ;
}

.mar-b-92{
    margin-bottom: 92px  ;
}

.mar-b-93{
    margin-bottom: 93px  ;
}

.mar-b-94{
    margin-bottom: 94px  ;
}

.mar-b-95{
    margin-bottom: 95px  ;
}

.mar-b-96{
    margin-bottom: 96px  ;
}

.mar-b-97{
    margin-bottom: 97px  ;
}

.mar-b-98{
    margin-bottom: 98px  ;
}

.mar-b-99{
    margin-bottom: 99px  ;
}

/* MARGIN END */


/* Borders-Radius */

.border-radius-1{
    border-radius: 1px;
}

.border-radius-2{
    border-radius: 2px;
}

.border-radius-3{
    border-radius: 3px;
}

.border-radius-4{
    border-radius: 4px;
}

.border-radius-5{
    border-radius: 5px;
}

.border-radius-6{
    border-radius: 6px;
}

.border-radius-7{
    border-radius: 7px;
}

.border-radius-8{
    border-radius: 8px;
}

.border-radius-9{
    border-radius: 9px;
}

.border-radius-10{
    border-radius: 10px;
}

.border-radius-11{
    border-radius: 11px;
}

.border-radius-12{
    border-radius: 12px;
}

.border-radius-13{
    border-radius: 13px;
}

.border-radius-14{
    border-radius: 14px;
}

.border-radius-15{
    border-radius: 15px;
}

.border-radius-16{
    border-radius: 16px;
}

.border-radius-17{
    border-radius: 17px;
}

.border-radius-18{
    border-radius: 18px;
}

.border-radius-19{
    border-radius: 19px;
}

.border-radius-20{
    border-radius: 20px;
}

.border-radius-21{
    border-radius: 21px;
}

.border-radius-22{
    border-radius: 22px;
}

.border-radius-23{
    border-radius: 23px;
}

.border-radius-24{
    border-radius: 24px;
}

/* Border radius end */


/* Border */

.border-1{
    border: 1px solid gray ;
}

.border-2{
    border: 2px solid gray ;
}

.border-3{
    border: 3px solid gray ;
}

.border-4{
    border: 4px solid gray ;
}

.border-5{
    border: 5px solid gray ;
}

.border-6{
    border: 6px solid gray ;
}

.border-7{
    border: 7px solid gray ;
}

.border-8{
    border: 8px solid gray ;
}

.border-9{
    border: 9px solid gray ;
}

.border-10{
    border: 10px solid gray ;
}

.border-11{
    border: 11px solid gray ;
}

.border-12{
    border: 12px solid gray ;
}

.border-13{
    border: 13px solid gray ;
}

.border-14{
    border: 14px solid gray ;
}

.border-15{
    border: 15px solid gray ;
}

.border-16{
    border: 16px solid gray ;
}

.border-17{
    border: 17px solid gray ;
}

.border-18{
    border: 18px solid gray ;
}

.border-19{
    border: 19px solid gray ;
}

.border-20{
    border: 20px solid gray ;
}

.border-21{
    border: 21px solid gray ;
}

.border-22{
    border: 22px solid gray ;
}

.border-23{
    border: 23px solid gray ;
}

.border-24{
    border: 24px solid gray ;
}

.border-r-1{
    border-right: 1px solid gray ;
}

.border-r-2{
    border-right: 2px solid gray ;
}

.border-r-3{
    border-right: 3px solid gray ;
}

.border-r-4{
    border-right: 4px solid gray ;
}

.border-r-5{
    border-right: 5px solid gray ;
}

.border-r-6{
    border-right: 6px solid gray ;
}

.border-r-7{
    border-right: 7px solid gray ;
}

.border-r-8{
    border-right: 8px solid gray ;
}

.border-r-9{
    border-right: 9px solid gray ;
}

.border-r-10{
    border-right: 10px solid gray ;
}

.border-r-11{
    border-right: 11px solid gray ;
}

.border-r-12{
    border-right: 12px solid gray ;
}

.border-r-13{
    border-right: 13px solid gray ;
}

.border-r-14{
    border-right: 14px solid gray ;
}

.border-r-15{
    border-right: 15px solid gray ;
}

.border-r-16{
    border-right: 16px solid gray ;
}

.border-r-17{
    border-right: 17px solid gray ;
}

.border-r-18{
    border-right: 18px solid gray ;
}

.border-r-19{
    border-right: 19px solid gray ;
}

.border-r-20{
    border-right: 20px solid gray ;
}

.border-r-21{
    border-right: 21px solid gray ;
}

.border-r-22{
    border-right: 22px solid gray ;
}

.border-r-23{
    border-right: 23px solid gray ;
}

.border-r-24{
    border-right: 24px solid gray ;
}

.border-t-1{
    border-top: 1px solid gray ;
}

.border-t-2{
    border-top: 2px solid gray ;
}

.border-t-3{
    border-top: 3px solid gray ;
}

.border-t-4{
    border-top: 4px solid gray ;
}

.border-t-5{
    border-top: 5px solid gray ;
}

.border-t-6{
    border-top: 6px solid gray ;
}

.border-t-7{
    border-top: 7px solid gray ;
}

.border-t-8{
    border-top: 8px solid gray ;
}

.border-t-9{
    border-top: 9px solid gray ;
}

.border-t-10{
    border-top: 10px solid gray ;
}

.border-t-11{
    border-top: 11px solid gray ;
}

.border-t-12{
    border-top: 12px solid gray ;
}

.border-t-13{
    border-top: 13px solid gray ;
}

.border-t-14{
    border-top: 14px solid gray ;
}

.border-t-15{
    border-top: 15px solid gray ;
}

.border-t-16{
    border-top: 16px solid gray ;
}

.border-t-17{
    border-top: 17px solid gray ;
}

.border-t-18{
    border-top: 18px solid gray ;
}

.border-t-19{
    border-top: 19px solid gray ;
}

.border-t-20{
    border-top: 20px solid gray ;
}

.border-t-21{
    border-top: 21px solid gray ;
}

.border-t-22{
    border-top: 22px solid gray ;
}

.border-t-23{
    border-top: 23px solid gray ;
}

.border-t-24{
    border-top: 24px solid gray ;
}

.border-l-1{
    border-left: 1px solid gray ;
}

.border-l-2{
    border-left: 2px solid gray ;
}

.border-l-3{
    border-left: 3px solid gray ;
}

.border-l-4{
    border-left: 4px solid gray ;
}

.border-l-5{
    border-left: 5px solid gray ;
}

.border-l-6{
    border-left: 6px solid gray ;
}

.border-l-7{
    border-left: 7px solid gray ;
}

.border-l-8{
    border-left: 8px solid gray ;
}

.border-l-9{
    border-left: 9px solid gray ;
}

.border-l-10{
    border-left: 10px solid gray ;
}

.border-l-11{
    border-left: 11px solid gray ;
}

.border-l-12{
    border-left: 12px solid gray ;
}

.border-l-13{
    border-left: 13px solid gray ;
}

.border-l-14{
    border-left: 14px solid gray ;
}

.border-l-15{
    border-left: 15px solid gray ;
}

.border-l-16{
    border-left: 16px solid gray ;
}

.border-l-17{
    border-left: 17px solid gray ;
}

.border-l-18{
    border-left: 18px solid gray ;
}

.border-l-19{
    border-left: 19px solid gray ;
}

.border-l-20{
    border-left: 20px solid gray ;
}

.border-l-21{
    border-left: 21px solid gray ;
}

.border-l-22{
    border-left: 22px solid gray ;
}

.border-l-23{
    border-left: 23px solid gray ;
}

.border-l-24{
    border-left: 24px solid gray ;
}

.border-b-1{
    border-bottom: 1px solid gray ;
}

.border-b-2{
    border-bottom: 2px solid gray ;
}

.border-b-3{
    border-bottom: 3px solid gray ;
}

.border-b-4{
    border-bottom: 4px solid gray ;
}

.border-b-5{
    border-bottom: 5px solid gray ;
}

.border-b-6{
    border-bottom: 6px solid gray ;
}

.border-b-7{
    border-bottom: 7px solid gray ;
}

.border-b-8{
    border-bottom: 8px solid gray ;
}

.border-b-9{
    border-bottom: 9px solid gray ;
}

.border-b-10{
    border-bottom: 10px solid gray ;
}

.border-b-11{
    border-bottom: 11px solid gray ;
}

.border-b-12{
    border-bottom: 12px solid gray ;
}

.border-b-13{
    border-bottom: 13px solid gray ;
}

.border-b-14{
    border-bottom: 14px solid gray ;
}

.border-b-15{
    border-bottom: 15px solid gray ;
}

.border-b-16{
    border-bottom: 16px solid gray ;
}

.border-b-17{
    border-bottom: 17px solid gray ;
}

.border-b-18{
    border-bottom: 18px solid gray ;
}

.border-b-19{
    border-bottom: 19px solid gray ;
}

.border-b-20{
    border-bottom: 20px solid gray ;
}

.border-b-21{
    border-bottom: 21px solid gray ;
}

.border-b-22{
    border-bottom: 22px solid gray ;
}

.border-b-23{
    border-bottom: 23px solid gray ;
}

.border-b-24{
    border-bottom: 24px solid gray ;
}

.border-x-1{
    border-left: 1px solid gray ;
    border-right: 1px solid gray ;
}

.border-x-2{
    border-left: 2px solid gray ;
    border-right: 2px solid gray ;
}

.border-x-3{
    border-left: 3px solid gray ;
    border-right: 3px solid gray ;
}

.border-x-4{
    border-left: 4px solid gray ;
    border-right: 4px solid gray ;
}

.border-x-5{
    border-left: 5px solid gray ;
    border-right: 5px solid gray ;
}

.border-x-6{
    border-left: 6px solid gray ;
    border-right: 6px solid gray ;
}

.border-x-7{
    border-left: 7px solid gray ;
    border-right: 7px solid gray ;
}

.border-x-8{
    border-left: 8px solid gray ;
    border-right: 8px solid gray ;
}

.border-x-9{
    border-left: 9px solid gray ;
    border-right: 9px solid gray ;
}

.border-x-10{
    border-left: 10px solid gray ;
    border-right: 10px solid gray ;
}

.border-x-11{
    border-left: 11px solid gray ;
    border-right: 11px solid gray ;
}

.border-x-12{
    border-left: 12px solid gray ;
    border-right: 12px solid gray ;
}

.border-x-13{
    border-left: 13px solid gray ;
    border-right: 13px solid gray ;
}

.border-x-14{
    border-left: 14px solid gray ;
    border-right: 14px solid gray ;
}

.border-x-15{
    border-left: 15px solid gray ;
    border-right: 15px solid gray ;
}

.border-x-16{
    border-left: 16px solid gray ;
    border-right: 16px solid gray ;
}

.border-x-17{
    border-left: 17px solid gray ;
    border-right: 17px solid gray ;
}

.border-x-18{
    border-left: 18px solid gray ;
    border-right: 18px solid gray ;
}

.border-x-19{
    border-left: 19px solid gray ;
    border-right: 19px solid gray ;
}

.border-x-20{
    border-left: 20px solid gray ;
    border-right: 20px solid gray ;
}

.border-x-21{
    border-left: 21px solid gray ;
    border-right: 21px solid gray ;
}

.border-x-22{
    border-left: 22px solid gray ;
    border-right: 22px solid gray ;
}

.border-x-23{
    border-left: 23px solid gray ;
    border-right: 23px solid gray ;
}

.border-x-24{
    border-left: 24px solid gray ;
    border-right: 24px solid gray ;
}

.border-y-1{
    border-top: 1px solid gray ;
    border-bottom: 1px solid gray ;
}

.border-y-2{
    border-top: 2px solid gray ;
    border-bottom: 2px solid gray ;
}

.border-y-3{
    border-top: 3px solid gray ;
    border-bottom: 3px solid gray ;
}

.border-y-4{
    border-top: 4px solid gray ;
    border-bottom: 4px solid gray ;
}

.border-y-5{
    border-top: 5px solid gray ;
    border-bottom: 5px solid gray ;
}

.border-y-6{
    border-top: 6px solid gray ;
    border-bottom: 6px solid gray ;
}

.border-y-7{
    border-top: 7px solid gray ;
    border-bottom: 7px solid gray ;
}

.border-y-8{
    border-top: 8px solid gray ;
    border-bottom: 8px solid gray ;
}

.border-y-9{
    border-top: 9px solid gray ;
    border-bottom: 9px solid gray ;
}

.border-y-10{
    border-top: 10px solid gray ;
    border-bottom: 10px solid gray ;
}

.border-y-11{
    border-top: 11px solid gray ;
    border-bottom: 11px solid gray ;
}

.border-y-12{
    border-top: 12px solid gray ;
    border-bottom: 12px solid gray ;
}

.border-y-13{
    border-top: 13px solid gray ;
    border-bottom: 13px solid gray ;
}

.border-y-14{
    border-top: 14px solid gray ;
    border-bottom: 14px solid gray ;
}

.border-y-15{
    border-top: 15px solid gray ;
    border-bottom: 15px solid gray ;
}

.border-y-16{
    border-top: 16px solid gray ;
    border-bottom: 16px solid gray ;
}

.border-y-17{
    border-top: 17px solid gray ;
    border-bottom: 17px solid gray ;
}

.border-y-18{
    border-top: 18px solid gray ;
    border-bottom: 18px solid gray ;
}

.border-y-19{
    border-top: 19px solid gray ;
    border-bottom: 19px solid gray ;
}

.border-y-20{
    border-top: 20px solid gray ;
    border-bottom: 20px solid gray ;
}

.border-y-21{
    border-top: 21px solid gray ;
    border-bottom: 21px solid gray ;
}

.border-y-22{
    border-top: 22px solid gray ;
    border-bottom: 22px solid gray ;
}

.border-y-23{
    border-top: 23px solid gray ;
    border-bottom: 23px solid gray ;
}

.border-y-24{
    border-top: 24px solid gray ;
    border-bottom: 24px solid gray ;
}

/* Border-Radius End */