//Colors starts at 1 which is ligher colors

//text gray Colors
$txt_gray1: rgb(254, 254, 254);
$txt_gray2: rgb(149, 148, 153);
$txt_gray3: rgb(127, 127, 127);
$txt_gray4: rgb(105, 109, 124);
$txt_gray5: rgb(85, 84, 97);
$txt_gray6: rgb(56, 55, 55);
$txt_gray7: rgb(0, 0, 0);

//text blue Colors
$txt_blue1: rgb(127, 130, 152);

//background blue colors
$bg_blue1: rgb(85, 0, 255);

//background gray colors
$bg_gray1: rgb(255, 255, 255);
$bg_gray2: rgb(245, 245, 248);
$bg_gray3: rgb(37, 36, 46);


.bg-white{
    background-color: $bg_gray1;
}

.bg-transparent{
    background: transparent;
}

.txt-gray1{
    color: $txt_gray1;
}
.txt-gray2{
    color: $txt_gray2;
}
.txt-gray3{
    color: $txt_gray3;
}
.txt-gray4{
    color: $txt_gray4;
}
.txt-gray5{
    color: $txt_gray5;
}
.txt-gray6{
    color: $txt_gray5;
}
.txt-gray7{
    color: $txt_gray5;
}
.txt-c-1{
    color:rgb(1,1,1);
}
.txt-c-2{
    color:rgb(2,2,2);
}
.txt-c-3{
    color:rgb(3,3,3);
}
.txt-c-4{
    color:rgb(4,4,4);
}
.txt-c-5{
    color:rgb(5,5,5);
}
.txt-c-6{
    color:rgb(6,6,6);
}
.txt-c-7{
    color:rgb(7,7,7);
}
.txt-c-8{
    color:rgb(8,8,8);
}
.txt-c-9{
    color:rgb(9,9,9);
}
.txt-c-10{
    color:rgb(10,10,10);
}
.txt-c-11{
    color:rgb(11,11,11);
}
.txt-c-12{
    color:rgb(12,12,12);
}
.txt-c-13{
    color:rgb(13,13,13);
}
.txt-c-14{
    color:rgb(14,14,14);
}
.txt-c-15{
    color:rgb(15,15,15);
}
.txt-c-16{
    color:rgb(16,16,16);
}
.txt-c-17{
    color:rgb(17,17,17);
}
.txt-c-18{
    color:rgb(18,18,18);
}
.txt-c-19{
    color:rgb(19,19,19);
}
.txt-c-20{
    color:rgb(20,20,20);
}
.txt-c-21{
    color:rgb(21,21,21);
}
.txt-c-22{
    color:rgb(22,22,22);
}
.txt-c-23{
    color:rgb(23,23,23);
}
.txt-c-24{
    color:rgb(24,24,24);
}
.txt-c-25{
    color:rgb(25,25,25);
}
.txt-c-26{
    color:rgb(26,26,26);
}
.txt-c-27{
    color:rgb(27,27,27);
}
.txt-c-28{
    color:rgb(28,28,28);
}
.txt-c-29{
    color:rgb(29,29,29);
}
.txt-c-30{
    color:rgb(30,30,30);
}
.txt-c-31{
    color:rgb(31,31,31);
}
.txt-c-32{
    color:rgb(32,32,32);
}
.txt-c-33{
    color:rgb(33,33,33);
}
.txt-c-34{
    color:rgb(34,34,34);
}
.txt-c-35{
    color:rgb(35,35,35);
}
.txt-c-36{
    color:rgb(36,36,36);
}
.txt-c-37{
    color:rgb(37,37,37);
}
.txt-c-38{
    color:rgb(38,38,38);
}
.txt-c-39{
    color:rgb(39,39,39);
}
.txt-c-40{
    color:rgb(40,40,40);
}
.txt-c-41{
    color:rgb(41,41,41);
}
.txt-c-42{
    color:rgb(42,42,42);
}
.txt-c-43{
    color:rgb(43,43,43);
}
.txt-c-44{
    color:rgb(44,44,44);
}
.txt-c-45{
    color:rgb(45,45,45);
}
.txt-c-46{
    color:rgb(46,46,46);
}
.txt-c-47{
    color:rgb(47,47,47);
}
.txt-c-48{
    color:rgb(48,48,48);
}
.txt-c-49{
    color:rgb(49,49,49);
}
.txt-c-50{
    color:rgb(50,50,50);
}
.txt-c-51{
    color:rgb(51,51,51);
}
.txt-c-52{
    color:rgb(52,52,52);
}
.txt-c-53{
    color:rgb(53,53,53);
}
.txt-c-54{
    color:rgb(54,54,54);
}
.txt-c-55{
    color:rgb(55,55,55);
}
.txt-c-56{
    color:rgb(56,56,56);
}
.txt-c-57{
    color:rgb(57,57,57);
}
.txt-c-58{
    color:rgb(58,58,58);
}
.txt-c-59{
    color:rgb(59,59,59);
}
.txt-c-60{
    color:rgb(60,60,60);
}
.txt-c-61{
    color:rgb(61,61,61);
}
.txt-c-62{
    color:rgb(62,62,62);
}
.txt-c-63{
    color:rgb(63,63,63);
}
.txt-c-64{
    color:rgb(64,64,64);
}
.txt-c-65{
    color:rgb(65,65,65);
}
.txt-c-66{
    color:rgb(66,66,66);
}
.txt-c-67{
    color:rgb(67,67,67);
}
.txt-c-68{
    color:rgb(68,68,68);
}
.txt-c-69{
    color:rgb(69,69,69);
}
.txt-c-70{
    color:rgb(70,70,70);
}
.txt-c-71{
    color:rgb(71,71,71);
}
.txt-c-72{
    color:rgb(72,72,72);
}
.txt-c-73{
    color:rgb(73,73,73);
}
.txt-c-74{
    color:rgb(74,74,74);
}
.txt-c-75{
    color:rgb(75,75,75);
}
.txt-c-76{
    color:rgb(76,76,76);
}
.txt-c-77{
    color:rgb(77,77,77);
}
.txt-c-78{
    color:rgb(78,78,78);
}
.txt-c-79{
    color:rgb(79,79,79);
}
.txt-c-80{
    color:rgb(80,80,80);
}
.txt-c-81{
    color:rgb(81,81,81);
}
.txt-c-82{
    color:rgb(82,82,82);
}
.txt-c-83{
    color:rgb(83,83,83);
}
.txt-c-84{
    color:rgb(84,84,84);
}
.txt-c-85{
    color:rgb(85,85,85);
}
.txt-c-86{
    color:rgb(86,86,86);
}
.txt-c-87{
    color:rgb(87,87,87);
}
.txt-c-88{
    color:rgb(88,88,88);
}
.txt-c-89{
    color:rgb(89,89,89);
}
.txt-c-90{
    color:rgb(90,90,90);
}
.txt-c-91{
    color:rgb(91,91,91);
}
.txt-c-92{
    color:rgb(92,92,92);
}
.txt-c-93{
    color:rgb(93,93,93);
}
.txt-c-94{
    color:rgb(94,94,94);
}
.txt-c-95{
    color:rgb(95,95,95);
}
.txt-c-96{
    color:rgb(96,96,96);
}
.txt-c-97{
    color:rgb(97,97,97);
}
.txt-c-98{
    color:rgb(98,98,98);
}
.txt-c-99{
    color:rgb(99,99,99);
}
.txt-c-100{
    color:rgb(100,100,100);
}
.txt-c-101{
    color:rgb(101,101,101);
}
.txt-c-102{
    color:rgb(102,102,102);
}
.txt-c-103{
    color:rgb(103,103,103);
}
.txt-c-104{
    color:rgb(104,104,104);
}
.txt-c-105{
    color:rgb(105,105,105);
}
.txt-c-106{
    color:rgb(106,106,106);
}
.txt-c-107{
    color:rgb(107,107,107);
}
.txt-c-108{
    color:rgb(108,108,108);
}
.txt-c-109{
    color:rgb(109,109,109);
}
.txt-c-110{
    color:rgb(110,110,110);
}
.txt-c-111{
    color:rgb(111,111,111);
}
.txt-c-112{
    color:rgb(112,112,112);
}
.txt-c-113{
    color:rgb(113,113,113);
}
.txt-c-114{
    color:rgb(114,114,114);
}
.txt-c-115{
    color:rgb(115,115,115);
}
.txt-c-116{
    color:rgb(116,116,116);
}
.txt-c-117{
    color:rgb(117,117,117);
}
.txt-c-118{
    color:rgb(118,118,118);
}
.txt-c-119{
    color:rgb(119,119,119);
}
.txt-c-120{
    color:rgb(120,120,120);
}
.txt-c-121{
    color:rgb(121,121,121);
}
.txt-c-122{
    color:rgb(122,122,122);
}
.txt-c-123{
    color:rgb(123,123,123);
}
.txt-c-124{
    color:rgb(124,124,124);
}
.txt-c-125{
    color:rgb(125,125,125);
}
.txt-c-126{
    color:rgb(126,126,126);
}
.txt-c-127{
    color:rgb(127,127,127);
}
.txt-c-128{
    color:rgb(128,128,128);
}
.txt-c-129{
    color:rgb(129,129,129);
}
.txt-c-130{
    color:rgb(130,130,130);
}
.txt-c-131{
    color:rgb(131,131,131);
}
.txt-c-132{
    color:rgb(132,132,132);
}
.txt-c-133{
    color:rgb(133,133,133);
}
.txt-c-134{
    color:rgb(134,134,134);
}
.txt-c-135{
    color:rgb(135,135,135);
}
.txt-c-136{
    color:rgb(136,136,136);
}
.txt-c-137{
    color:rgb(137,137,137);
}
.txt-c-138{
    color:rgb(138,138,138);
}
.txt-c-139{
    color:rgb(139,139,139);
}
.txt-c-140{
    color:rgb(140,140,140);
}
.txt-c-141{
    color:rgb(141,141,141);
}
.txt-c-142{
    color:rgb(142,142,142);
}
.txt-c-143{
    color:rgb(143,143,143);
}
.txt-c-144{
    color:rgb(144,144,144);
}
.txt-c-145{
    color:rgb(145,145,145);
}
.txt-c-146{
    color:rgb(146,146,146);
}
.txt-c-147{
    color:rgb(147,147,147);
}
.txt-c-148{
    color:rgb(148,148,148);
}
.txt-c-149{
    color:rgb(149,149,149);
}
.txt-c-150{
    color:rgb(150,150,150);
}
.txt-c-151{
    color:rgb(151,151,151);
}
.txt-c-152{
    color:rgb(152,152,152);
}
.txt-c-153{
    color:rgb(153,153,153);
}
.txt-c-154{
    color:rgb(154,154,154);
}
.txt-c-155{
    color:rgb(155,155,155);
}
.txt-c-156{
    color:rgb(156,156,156);
}
.txt-c-157{
    color:rgb(157,157,157);
}
.txt-c-158{
    color:rgb(158,158,158);
}
.txt-c-159{
    color:rgb(159,159,159);
}
.txt-c-160{
    color:rgb(160,160,160);
}
.txt-c-161{
    color:rgb(161,161,161);
}
.txt-c-162{
    color:rgb(162,162,162);
}
.txt-c-163{
    color:rgb(163,163,163);
}
.txt-c-164{
    color:rgb(164,164,164);
}
.txt-c-165{
    color:rgb(165,165,165);
}
.txt-c-166{
    color:rgb(166,166,166);
}
.txt-c-167{
    color:rgb(167,167,167);
}
.txt-c-168{
    color:rgb(168,168,168);
}
.txt-c-169{
    color:rgb(169,169,169);
}
.txt-c-170{
    color:rgb(170,170,170);
}
.txt-c-171{
    color:rgb(171,171,171);
}
.txt-c-172{
    color:rgb(172,172,172);
}
.txt-c-173{
    color:rgb(173,173,173);
}
.txt-c-174{
    color:rgb(174,174,174);
}
.txt-c-175{
    color:rgb(175,175,175);
}
.txt-c-176{
    color:rgb(176,176,176);
}
.txt-c-177{
    color:rgb(177,177,177);
}
.txt-c-178{
    color:rgb(178,178,178);
}
.txt-c-179{
    color:rgb(179,179,179);
}
.txt-c-180{
    color:rgb(180,180,180);
}
.txt-c-181{
    color:rgb(181,181,181);
}
.txt-c-182{
    color:rgb(182,182,182);
}
.txt-c-183{
    color:rgb(183,183,183);
}
.txt-c-184{
    color:rgb(184,184,184);
}
.txt-c-185{
    color:rgb(185,185,185);
}
.txt-c-186{
    color:rgb(186,186,186);
}
.txt-c-187{
    color:rgb(187,187,187);
}
.txt-c-188{
    color:rgb(188,188,188);
}
.txt-c-189{
    color:rgb(189,189,189);
}
.txt-c-190{
    color:rgb(190,190,190);
}
.txt-c-191{
    color:rgb(191,191,191);
}
.txt-c-192{
    color:rgb(192,192,192);
}
.txt-c-193{
    color:rgb(193,193,193);
}
.txt-c-194{
    color:rgb(194,194,194);
}
.txt-c-195{
    color:rgb(195,195,195);
}
.txt-c-196{
    color:rgb(196,196,196);
}
.txt-c-197{
    color:rgb(197,197,197);
}
.txt-c-198{
    color:rgb(198,198,198);
}
.txt-c-199{
    color:rgb(199,199,199);
}
.txt-c-200{
    color:rgb(200,200,200);
}
.txt-c-201{
    color:rgb(201,201,201);
}
.txt-c-202{
    color:rgb(202,202,202);
}
.txt-c-203{
    color:rgb(203,203,203);
}
.txt-c-204{
    color:rgb(204,204,204);
}
.txt-c-205{
    color:rgb(205,205,205);
}
.txt-c-206{
    color:rgb(206,206,206);
}
.txt-c-207{
    color:rgb(207,207,207);
}
.txt-c-208{
    color:rgb(208,208,208);
}
.txt-c-209{
    color:rgb(209,209,209);
}
.txt-c-210{
    color:rgb(210,210,210);
}
.txt-c-211{
    color:rgb(211,211,211);
}
.txt-c-212{
    color:rgb(212,212,212);
}
.txt-c-213{
    color:rgb(213,213,213);
}
.txt-c-214{
    color:rgb(214,214,214);
}
.txt-c-215{
    color:rgb(215,215,215);
}
.txt-c-216{
    color:rgb(216,216,216);
}
.txt-c-217{
    color:rgb(217,217,217);
}
.txt-c-218{
    color:rgb(218,218,218);
}
.txt-c-219{
    color:rgb(219,219,219);
}
.txt-c-220{
    color:rgb(220,220,220);
}
.txt-c-221{
    color:rgb(221,221,221);
}
.txt-c-222{
    color:rgb(222,222,222);
}
.txt-c-223{
    color:rgb(223,223,223);
}
.txt-c-224{
    color:rgb(224,224,224);
}
.txt-c-225{
    color:rgb(225,225,225);
}
.txt-c-226{
    color:rgb(226,226,226);
}
.txt-c-227{
    color:rgb(227,227,227);
}
.txt-c-228{
    color:rgb(228,228,228);
}
.txt-c-229{
    color:rgb(229,229,229);
}
.txt-c-230{
    color:rgb(230,230,230);
}
.txt-c-231{
    color:rgb(231,231,231);
}
.txt-c-232{
    color:rgb(232,232,232);
}
.txt-c-233{
    color:rgb(233,233,233);
}
.txt-c-234{
    color:rgb(234,234,234);
}
.txt-c-235{
    color:rgb(235,235,235);
}
.txt-c-236{
    color:rgb(236,236,236);
}
.txt-c-237{
    color:rgb(237,237,237);
}
.txt-c-238{
    color:rgb(238,238,238);
}
.txt-c-239{
    color:rgb(239,239,239);
}
.txt-c-240{
    color:rgb(240,240,240);
}
.txt-c-241{
    color:rgb(241,241,241);
}
.txt-c-242{
    color:rgb(242,242,242);
}
.txt-c-243{
    color:rgb(243,243,243);
}
.txt-c-244{
    color:rgb(244,244,244);
}
.txt-c-245{
    color:rgb(245,245,245);
}
.txt-c-246{
    color:rgb(246,246,246);
}
.txt-c-247{
    color:rgb(247,247,247);
}
.txt-c-248{
    color:rgb(248,248,248);
}
.txt-c-249{
    color:rgb(249,249,249);
}
.txt-c-250{
    color:rgb(250,250,250);
}
.txt-c-251{
    color:rgb(251,251,251);
}
.txt-c-252{
    color:rgb(252,252,252);
}
.txt-c-253{
    color:rgb(253,253,253);
}
.txt-c-254{
    color:rgb(254,254,254);
}
.txt-c-255{
    color:rgb(255,255,255);
}

.bg-c-1{
    color:rgb(1,1,1);
}
.bg-c-2{
    color:rgb(2,2,2);
}
.bg-c-3{
    color:rgb(3,3,3);
}
.bg-c-4{
    color:rgb(4,4,4);
}
.bg-c-5{
    color:rgb(5,5,5);
}
.bg-c-6{
    color:rgb(6,6,6);
}
.bg-c-7{
    color:rgb(7,7,7);
}
.bg-c-8{
    color:rgb(8,8,8);
}
.bg-c-9{
    color:rgb(9,9,9);
}
.bg-c-10{
    color:rgb(10,10,10);
}
.bg-c-11{
    color:rgb(11,11,11);
}
.bg-c-12{
    color:rgb(12,12,12);
}
.bg-c-13{
    color:rgb(13,13,13);
}
.bg-c-14{
    color:rgb(14,14,14);
}
.bg-c-15{
    color:rgb(15,15,15);
}
.bg-c-16{
    color:rgb(16,16,16);
}
.bg-c-17{
    color:rgb(17,17,17);
}
.bg-c-18{
    color:rgb(18,18,18);
}
.bg-c-19{
    color:rgb(19,19,19);
}
.bg-c-20{
    color:rgb(20,20,20);
}
.bg-c-21{
    color:rgb(21,21,21);
}
.bg-c-22{
    color:rgb(22,22,22);
}
.bg-c-23{
    color:rgb(23,23,23);
}
.bg-c-24{
    color:rgb(24,24,24);
}
.bg-c-25{
    color:rgb(25,25,25);
}
.bg-c-26{
    color:rgb(26,26,26);
}
.bg-c-27{
    color:rgb(27,27,27);
}
.bg-c-28{
    color:rgb(28,28,28);
}
.bg-c-29{
    color:rgb(29,29,29);
}
.bg-c-30{
    color:rgb(30,30,30);
}
.bg-c-31{
    color:rgb(31,31,31);
}
.bg-c-32{
    color:rgb(32,32,32);
}
.bg-c-33{
    color:rgb(33,33,33);
}
.bg-c-34{
    color:rgb(34,34,34);
}
.bg-c-35{
    color:rgb(35,35,35);
}
.bg-c-36{
    color:rgb(36,36,36);
}
.bg-c-37{
    color:rgb(37,37,37);
}
.bg-c-38{
    color:rgb(38,38,38);
}
.bg-c-39{
    color:rgb(39,39,39);
}
.bg-c-40{
    color:rgb(40,40,40);
}
.bg-c-41{
    color:rgb(41,41,41);
}
.bg-c-42{
    color:rgb(42,42,42);
}
.bg-c-43{
    color:rgb(43,43,43);
}
.bg-c-44{
    color:rgb(44,44,44);
}
.bg-c-45{
    color:rgb(45,45,45);
}
.bg-c-46{
    color:rgb(46,46,46);
}
.bg-c-47{
    color:rgb(47,47,47);
}
.bg-c-48{
    color:rgb(48,48,48);
}
.bg-c-49{
    color:rgb(49,49,49);
}
.bg-c-50{
    color:rgb(50,50,50);
}
.bg-c-51{
    color:rgb(51,51,51);
}
.bg-c-52{
    color:rgb(52,52,52);
}
.bg-c-53{
    color:rgb(53,53,53);
}
.bg-c-54{
    color:rgb(54,54,54);
}
.bg-c-55{
    color:rgb(55,55,55);
}
.bg-c-56{
    color:rgb(56,56,56);
}
.bg-c-57{
    color:rgb(57,57,57);
}
.bg-c-58{
    color:rgb(58,58,58);
}
.bg-c-59{
    color:rgb(59,59,59);
}
.bg-c-60{
    color:rgb(60,60,60);
}
.bg-c-61{
    color:rgb(61,61,61);
}
.bg-c-62{
    color:rgb(62,62,62);
}
.bg-c-63{
    color:rgb(63,63,63);
}
.bg-c-64{
    color:rgb(64,64,64);
}
.bg-c-65{
    color:rgb(65,65,65);
}
.bg-c-66{
    color:rgb(66,66,66);
}
.bg-c-67{
    color:rgb(67,67,67);
}
.bg-c-68{
    color:rgb(68,68,68);
}
.bg-c-69{
    color:rgb(69,69,69);
}
.bg-c-70{
    color:rgb(70,70,70);
}
.bg-c-71{
    color:rgb(71,71,71);
}
.bg-c-72{
    color:rgb(72,72,72);
}
.bg-c-73{
    color:rgb(73,73,73);
}
.bg-c-74{
    color:rgb(74,74,74);
}
.bg-c-75{
    color:rgb(75,75,75);
}
.bg-c-76{
    color:rgb(76,76,76);
}
.bg-c-77{
    color:rgb(77,77,77);
}
.bg-c-78{
    color:rgb(78,78,78);
}
.bg-c-79{
    color:rgb(79,79,79);
}
.bg-c-80{
    color:rgb(80,80,80);
}
.bg-c-81{
    color:rgb(81,81,81);
}
.bg-c-82{
    color:rgb(82,82,82);
}
.bg-c-83{
    color:rgb(83,83,83);
}
.bg-c-84{
    color:rgb(84,84,84);
}
.bg-c-85{
    color:rgb(85,85,85);
}
.bg-c-86{
    color:rgb(86,86,86);
}
.bg-c-87{
    color:rgb(87,87,87);
}
.bg-c-88{
    color:rgb(88,88,88);
}
.bg-c-89{
    color:rgb(89,89,89);
}
.bg-c-90{
    color:rgb(90,90,90);
}
.bg-c-91{
    color:rgb(91,91,91);
}
.bg-c-92{
    color:rgb(92,92,92);
}
.bg-c-93{
    color:rgb(93,93,93);
}
.bg-c-94{
    color:rgb(94,94,94);
}
.bg-c-95{
    color:rgb(95,95,95);
}
.bg-c-96{
    color:rgb(96,96,96);
}
.bg-c-97{
    color:rgb(97,97,97);
}
.bg-c-98{
    color:rgb(98,98,98);
}
.bg-c-99{
    color:rgb(99,99,99);
}
.bg-c-100{
    color:rgb(100,100,100);
}
.bg-c-101{
    color:rgb(101,101,101);
}
.bg-c-102{
    color:rgb(102,102,102);
}
.bg-c-103{
    color:rgb(103,103,103);
}
.bg-c-104{
    color:rgb(104,104,104);
}
.bg-c-105{
    color:rgb(105,105,105);
}
.bg-c-106{
    color:rgb(106,106,106);
}
.bg-c-107{
    color:rgb(107,107,107);
}
.bg-c-108{
    color:rgb(108,108,108);
}
.bg-c-109{
    color:rgb(109,109,109);
}
.bg-c-110{
    color:rgb(110,110,110);
}
.bg-c-111{
    color:rgb(111,111,111);
}
.bg-c-112{
    color:rgb(112,112,112);
}
.bg-c-113{
    color:rgb(113,113,113);
}
.bg-c-114{
    color:rgb(114,114,114);
}
.bg-c-115{
    color:rgb(115,115,115);
}
.bg-c-116{
    color:rgb(116,116,116);
}
.bg-c-117{
    color:rgb(117,117,117);
}
.bg-c-118{
    color:rgb(118,118,118);
}
.bg-c-119{
    color:rgb(119,119,119);
}
.bg-c-120{
    color:rgb(120,120,120);
}
.bg-c-121{
    color:rgb(121,121,121);
}
.bg-c-122{
    color:rgb(122,122,122);
}
.bg-c-123{
    color:rgb(123,123,123);
}
.bg-c-124{
    color:rgb(124,124,124);
}
.bg-c-125{
    color:rgb(125,125,125);
}
.bg-c-126{
    color:rgb(126,126,126);
}
.bg-c-127{
    color:rgb(127,127,127);
}
.bg-c-128{
    color:rgb(128,128,128);
}
.bg-c-129{
    color:rgb(129,129,129);
}
.bg-c-130{
    color:rgb(130,130,130);
}
.bg-c-131{
    color:rgb(131,131,131);
}
.bg-c-132{
    color:rgb(132,132,132);
}
.bg-c-133{
    color:rgb(133,133,133);
}
.bg-c-134{
    color:rgb(134,134,134);
}
.bg-c-135{
    color:rgb(135,135,135);
}
.bg-c-136{
    color:rgb(136,136,136);
}
.bg-c-137{
    color:rgb(137,137,137);
}
.bg-c-138{
    color:rgb(138,138,138);
}
.bg-c-139{
    color:rgb(139,139,139);
}
.bg-c-140{
    color:rgb(140,140,140);
}
.bg-c-141{
    color:rgb(141,141,141);
}
.bg-c-142{
    color:rgb(142,142,142);
}
.bg-c-143{
    color:rgb(143,143,143);
}
.bg-c-144{
    color:rgb(144,144,144);
}
.bg-c-145{
    color:rgb(145,145,145);
}
.bg-c-146{
    color:rgb(146,146,146);
}
.bg-c-147{
    color:rgb(147,147,147);
}
.bg-c-148{
    color:rgb(148,148,148);
}
.bg-c-149{
    color:rgb(149,149,149);
}
.bg-c-150{
    color:rgb(150,150,150);
}
.bg-c-151{
    color:rgb(151,151,151);
}
.bg-c-152{
    color:rgb(152,152,152);
}
.bg-c-153{
    color:rgb(153,153,153);
}
.bg-c-154{
    color:rgb(154,154,154);
}
.bg-c-155{
    color:rgb(155,155,155);
}
.bg-c-156{
    color:rgb(156,156,156);
}
.bg-c-157{
    color:rgb(157,157,157);
}
.bg-c-158{
    color:rgb(158,158,158);
}
.bg-c-159{
    color:rgb(159,159,159);
}
.bg-c-160{
    color:rgb(160,160,160);
}
.bg-c-161{
    color:rgb(161,161,161);
}
.bg-c-162{
    color:rgb(162,162,162);
}
.bg-c-163{
    color:rgb(163,163,163);
}
.bg-c-164{
    color:rgb(164,164,164);
}
.bg-c-165{
    color:rgb(165,165,165);
}
.bg-c-166{
    color:rgb(166,166,166);
}
.bg-c-167{
    color:rgb(167,167,167);
}
.bg-c-168{
    color:rgb(168,168,168);
}
.bg-c-169{
    color:rgb(169,169,169);
}
.bg-c-170{
    color:rgb(170,170,170);
}
.bg-c-171{
    color:rgb(171,171,171);
}
.bg-c-172{
    color:rgb(172,172,172);
}
.bg-c-173{
    color:rgb(173,173,173);
}
.bg-c-174{
    color:rgb(174,174,174);
}
.bg-c-175{
    color:rgb(175,175,175);
}
.bg-c-176{
    color:rgb(176,176,176);
}
.bg-c-177{
    color:rgb(177,177,177);
}
.bg-c-178{
    color:rgb(178,178,178);
}
.bg-c-179{
    color:rgb(179,179,179);
}
.bg-c-180{
    color:rgb(180,180,180);
}
.bg-c-181{
    color:rgb(181,181,181);
}
.bg-c-182{
    color:rgb(182,182,182);
}
.bg-c-183{
    color:rgb(183,183,183);
}
.bg-c-184{
    color:rgb(184,184,184);
}
.bg-c-185{
    color:rgb(185,185,185);
}
.bg-c-186{
    color:rgb(186,186,186);
}
.bg-c-187{
    color:rgb(187,187,187);
}
.bg-c-188{
    color:rgb(188,188,188);
}
.bg-c-189{
    color:rgb(189,189,189);
}
.bg-c-190{
    color:rgb(190,190,190);
}
.bg-c-191{
    color:rgb(191,191,191);
}
.bg-c-192{
    color:rgb(192,192,192);
}
.bg-c-193{
    color:rgb(193,193,193);
}
.bg-c-194{
    color:rgb(194,194,194);
}
.bg-c-195{
    color:rgb(195,195,195);
}
.bg-c-196{
    color:rgb(196,196,196);
}
.bg-c-197{
    color:rgb(197,197,197);
}
.bg-c-198{
    color:rgb(198,198,198);
}
.bg-c-199{
    color:rgb(199,199,199);
}
.bg-c-200{
    color:rgb(200,200,200);
}
.bg-c-201{
    color:rgb(201,201,201);
}
.bg-c-202{
    color:rgb(202,202,202);
}
.bg-c-203{
    color:rgb(203,203,203);
}
.bg-c-204{
    color:rgb(204,204,204);
}
.bg-c-205{
    color:rgb(205,205,205);
}
.bg-c-206{
    color:rgb(206,206,206);
}
.bg-c-207{
    color:rgb(207,207,207);
}
.bg-c-208{
    color:rgb(208,208,208);
}
.bg-c-209{
    color:rgb(209,209,209);
}
.bg-c-210{
    color:rgb(210,210,210);
}
.bg-c-211{
    color:rgb(211,211,211);
}
.bg-c-212{
    color:rgb(212,212,212);
}
.bg-c-213{
    color:rgb(213,213,213);
}
.bg-c-214{
    color:rgb(214,214,214);
}
.bg-c-215{
    color:rgb(215,215,215);
}
.bg-c-216{
    color:rgb(216,216,216);
}
.bg-c-217{
    color:rgb(217,217,217);
}
.bg-c-218{
    color:rgb(218,218,218);
}
.bg-c-219{
    color:rgb(219,219,219);
}
.bg-c-220{
    color:rgb(220,220,220);
}
.bg-c-221{
    color:rgb(221,221,221);
}
.bg-c-222{
    color:rgb(222,222,222);
}
.bg-c-223{
    color:rgb(223,223,223);
}
.bg-c-224{
    color:rgb(224,224,224);
}
.bg-c-225{
    color:rgb(225,225,225);
}
.bg-c-226{
    color:rgb(226,226,226);
}
.bg-c-227{
    color:rgb(227,227,227);
}
.bg-c-228{
    color:rgb(228,228,228);
}
.bg-c-229{
    color:rgb(229,229,229);
}
.bg-c-230{
    color:rgb(230,230,230);
}
.bg-c-231{
    color:rgb(231,231,231);
}
.bg-c-232{
    color:rgb(232,232,232);
}
.bg-c-233{
    color:rgb(233,233,233);
}
.bg-c-234{
    color:rgb(234,234,234);
}
.bg-c-235{
    color:rgb(235,235,235);
}
.bg-c-236{
    color:rgb(236,236,236);
}
.bg-c-237{
    color:rgb(237,237,237);
}
.bg-c-238{
    color:rgb(238,238,238);
}
.bg-c-239{
    color:rgb(239,239,239);
}
.bg-c-240{
    color:rgb(240,240,240);
}
.bg-c-241{
    color:rgb(241,241,241);
}
.bg-c-242{
    color:rgb(242,242,242);
}
.bg-c-243{
    color:rgb(243,243,243);
}
.bg-c-244{
    color:rgb(244,244,244);
}
.bg-c-245{
    color:rgb(245,245,245);
}
.bg-c-246{
    color:rgb(246,246,246);
}
.bg-c-247{
    color:rgb(247,247,247);
}
.bg-c-248{
    color:rgb(248,248,248);
}
.bg-c-249{
    color:rgb(249,249,249);
}
.bg-c-250{
    color:rgb(250,250,250);
}
.bg-c-251{
    color:rgb(251,251,251);
}
.bg-c-252{
    color:rgb(252,252,252);
}
.bg-c-253{
    color:rgb(253,253,253);
}
.bg-c-254{
    color:rgb(254,254,254);
}
.bg-c-255{
    color:rgb(255,255,255);
}