//Colors starts at 1 which is ligher colors

//text gray Colors
$txt_gray1: rgb(254, 254, 254);
$txt_gray2: rgb(149, 148, 153);
$txt_gray3: rgb(127, 127, 127);
$txt_gray4: rgb(105, 109, 124);
$txt_gray5: rgb(85, 84, 97);
$txt_gray6: rgb(56, 55, 55);
$txt_gray7: rgb(0, 0, 0);

//text blue Colors
$txt_blue1: rgb(127, 130, 152);

//background blue colors
$bg_blue1: rgb(85, 0, 255);

//background gray colors
$bg_gray1: rgb(255, 255, 255);
$bg_gray2: rgb(245, 245, 248);
$bg_gray3: rgb(37, 36, 46);
